/*
 * File: theme.css
 * Category: Template part - CSS
 * Author: MSG
 * Created: 14.01.2016 17:45
 * Updated: -
 *
 * Description:
 *  Basic bootstrap extension
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

.row.row-space.row-space-xs{
    padding: 5px;
}
.row.row-space.row-space-sm{
    padding: 10px;
}
.row.row-space{
    padding: 20px;
}
.row.row-space.row-space-md{
    padding: 40px;
}
.row.row-space.row-space-lg{
    padding: 80px;
}
.row.row-space.row-space-xl{
    padding: 160px;
}

.color-info {
    color: #31708f;
}
.color-success {
    color: #3c763d;
}
.color-warning {
    color: #bf791f;
}
.color-error, .color-danger {
    color: #a94442;
}
ng-click, .clickable {
    cursor: pointer;
}

.no-margin {
    margin: 0;
}

*, body, html {
    font-family: 'Open Sans Condensed', sans-serif;
}