

<div class="row">
    <div class="col-xs-12 text-center">
        <h1>{{var}}</h1>
        <h4>An AngularJS web app build using AngularJS, Gulp & Bower..</h4>
        <img src="images/example_angular.jpg" width="30%" />
    </div>
</div>

<div class="row row-space row-space-default"></div>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
        <div class="row">
            <div class="col-xs-6">
                <h4 class="no-margin">Features</h4>
            </div>
            <div class="col-xs-2">Version</div>
            <div class="col-xs-4">Required</div>
        </div>
        <div class="row">
            <div class="col-xs-6">RequireJS</div>
            <div class="col-xs-2">2.1.22</div>
            <div class="col-xs-4"><span class="color-warning">Recommended</span></div>
        </div>
        <div class="row">
            <div class="col-xs-6">AngularJS</div>
            <div class="col-xs-2">1.4.8</div>
            <div class="col-xs-4"><span class="color-danger">YES</span></div>
        </div>
        <div class="row">
            <div class="col-xs-6">Angular Route</div>
            <div class="col-xs-2">*</div>
            <div class="col-xs-4"><span class="color-danger">YES</span></div>
        </div>
        <div class="row">
            <div class="col-xs-6">Angular Animate</div>
            <div class="col-xs-2">1.4.8</div>
            <div class="col-xs-4"><span class="color-success">NO</span></div>
        </div>
        <div class="row">
            <div class="col-xs-6">Angular Local Storage</div>
            <div class="col-xs-2">0.2.3</div>
            <div class="col-xs-4"><span class="color-success">NO</span></div>
        </div>
        <div class="row">
            <div class="col-xs-6">Angular Sanitize</div>
            <div class="col-xs-2">1.4.8</div>
            <div class="col-xs-4"><span class="color-success">NO</span></div>
        </div>
        <div class="row">
            <div class="col-xs-6">Angular Bootstrap</div>
            <div class="col-xs-2">0.14.3</div>
            <div class="col-xs-4"><span class="color-success">NO</span></div>
        </div>
        <div class="row">
            <div class="col-xs-6">Bootstrap</div>
            <div class="col-xs-2">3.3.6</div>
            <div class="col-xs-4"><span class="color-warning">Recommended</span></div>
        </div>
        <div class="row">
            <div class="col-xs-6">Font Awesome</div>
            <div class="col-xs-2">4.5.0</div>
            <div class="col-xs-4"><span class="color-success">NO</span></div>
        </div>
        <div class="row">
            <div class="col-xs-6">Google Fonts Api</div>
            <div class="col-xs-2">*</div>
            <div class="col-xs-4"><span class="color-success">NO</span></div>
        </div>
    </div>
    <div class="col-xs-6">
        <h4>Documentation &amp; Help</h4>

        <div class="row">
            <div class="col-xs-4">Github Repository</div>
            <div class="col-xs-8">
                <a href="https://github.com/Webklex/basic_angular_app" target="_blank">
                    https://github.com/Webklex/basic_angular_app
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">Bugtracking &amp; Reporting</div>
            <div class="col-xs-8">
                <a href="https://github.com/Webklex/basic_angular_app/issues" target="_blank">
                    https://github.com/Webklex/basic_angular_app/issues
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">Wiki</div>
            <div class="col-xs-8">
                <a href="https://github.com/Webklex/basic_angular_app/wiki" target="_blank">
                    https://github.com/Webklex/basic_angular_app/wiki
                </a>
            </div>
        </div>

        <h4>Installation</h4>
        <div class="row">
            <div class="col-xs-6">Navigate to the Repository root</div>
            <div class="col-xs-6">
                cd /path/to/repository
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">Install all required node modules</div>
            <div class="col-xs-6">npm install</div>
        </div>
        <div class="row">
            <div class="col-xs-6">Install all required bower dependencies</div>
            <div class="col-xs-6">bower install</div>
        </div>
        <div class="row">
            <div class="col-xs-6">Running & Building</div>
            <div class="col-xs-6">
                gulp && gulp serve
            </div>
        </div>
    </div>
</div>

<div class="row row-space row-space-default"></div>